<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
  </head>
  <body OnLoad='OnLoadEvent();'>
    <form name="ACSCall" action="https://testacsds.gmopg.jp/ThreeDSim/ACS" method="POST">
    <noscript>
      <br>
      <br>
      <center>
        <h2>
          3-Dセキュア認証を続けます。<br>
          ボタンをクリックしてください。
        </h2>
        <input type="submit" value="OK">
      </center>
      </noscript>
      <input type="hidden" name="PaReq" value="eJxVUl1O4zAQvkqUd+rf/FXTQd2tVvQhqOyWA7iO2waRpCQpaU/ACydAnICHvdVyDuyQlsWS5flmxvONPw9cHop779HUTV6VE5+NqO+ZUldZXm4m/u3y10XsXyIst7Uxsz9G72uDkJqmURvj5dnEX6jf5oGFAaNRFAdRSBMZyoBGMZMhFTIWIY2Yj7CY2jyEgQkt0YgDOUFbstZbVbYISj/8mF+jZFzIAMgAoTD1fIa9M4zihA7hTzeUqjD4/vr2/vz07+8LkB6DrvZlWx+RihDICcC+vsdt2+7GhHRdN9rs1LEwZduMdFUQIC4M5Kufxd5ZjS13yDNM76ZHu2l6t+nS5Q1NZ9PO7evZfALEZUCmWoOcck4ljzwWjqUcswhI7wdVuD6QUbvs6z4R7BzJ9FvofxdY3Wv7LUcUiVXtjMAcdlVpm0d74WxDZhqNnmV0J5CvF/y8cvrq1kqWsETJYLUWa7VeiVXAdJwJIWLF+Nqp3ie5+rnVjAeM9wQOAHFlyPChZBgGa30bkg8M98Nx">
      <input type="hidden" name="TermUrl" value="http://localhost:3000/homes/callback">
      <input type="hidden" name="MD" value="9c1bde63ee65153c3fc22bd812d43633">
    </form>
    <script>
    <!--
      function OnLoadEvent() {
        document.ACSCall.submit();
      }
    //-->
    </script>
    </body>
</html>